# Drawing Conclusions Using Groupby

Use `winequality_edited.csv`. You should've created this data file in the previous section: *Appending Data (cont.)*.

In [1]:
# Load dataset
import pandas as pd
df = pd.read_csv('winequality_edited.csv')
# df.head()
df

,alcohol,chlorides,citric_acid,color,density,fixed_acidity,free_sulfur_dioxide,pH,quality,residual_sugar,sulphates,total_sulfur_dioxide,volatile_acidity
0,9.4,0.076,0.00,red,0.99780,7.4,11.0,3.51,5,1.9,0.56,34.0,0.70
1,9.8,0.098,0.00,red,0.99680,7.8,25.0,3.20,5,2.6,0.68,67.0,0.88
2,9.8,0.092,0.04,red,0.99700,7.8,15.0,3.26,5,2.3,0.65,54.0,0.76
3,9.8,0.075,0.56,red,0.99800,11.2,17.0,3.16,6,1.9,0.58,60.0,0.28
4,9.4,0.076,0.00,red,0.99780,7.4,11.0,3.51,5,1.9,0.56,34.0,0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,11.2,0.039,0.29,white,0.99114,6.2,24.0,3.27,6,1.6,0.50,92.0,0.21
6493,9.6,0.047,0.36,white,0.99490,6.6,57.0,3.15,5,8.0,0.46,168.0,0.32
6494,9.4,0.041,0.19,white,0.99254,6.5,30.0,2.99,6,1.2,0.46,111.0,0.24
6495,12.8,0.022,0.30,white,0.98869,5.5,20.0,3.34,7,1.1,0.38,110.0,0.29
6496,11.8,0.020,0.38,white,0.98941,6.0,22.0,3.26,6,0.8,0.32,98.0,0.21

### Is a certain type of wine associated with higher quality?

In [1]:
# Find the mean quality of each wine type (red and white) with groupby
df.groupby('color').groups

NameError: name 'df' is not defined

### What level of acidity receives the highest average rating?

In [7]:
# View the min, 25%, 50%, 75%, max pH values with Pandas describe
df.describe().pH

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [ ]:
# Bin edges that will be used to "cut" the data into groups
bin_edges = [ 2.72, 3.11, 3.21 ,3.32 ,4.01 ] # Fill in this list with five values you just found

In [ ]:
# Labels for the four acidity level groups
bin_names = [ , , , ] # Name each acidity level category

In [ ]:
# Creates acidity_levels column
df['acidity_levels'] = pd.cut(df['pH'], bin_edges, labels=bin_names)

# Checks for successful creation of this column
df.head()

In [ ]:
# Find the mean quality of each acidity level with groupby

In [ ]:
# Save changes for the next section
df.to_csv('winequality_edited.csv', index=False)